on: [push]

name: CI

jobs:
  build-docker-container:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Build the docker image
      run: |
        export TAG=${GITHUB_SHA:0:8}
        echo "$DOCKER_PASSWORD" | docker login docker.pkg.github.com -u "$DOCKER_USERNAME" --password-stdin
        docker-compose -f docker-compose.yaml build
      if: github.ref == 'refs/heads/master' || contains(github.ref,'bdc_')
      env:
        DOCKER_USERNAME: ${{ github.repository }}
        DOCKER_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
    - name: branch Push Docker image to github package registry
      run: |
        export TAG=${GITHUB_SHA:0:8}
        echo "$DOCKER_PASSWORD" | docker login docker.pkg.github.com -u "$DOCKER_USERNAME" --password-stdin
        docker-compose -f docker-compose.yaml push
      if: github.ref == 'refs/heads/master' || contains(github.ref,'bdc_')
      env:
        DOCKER_USERNAME: ${{ github.repository }}
        DOCKER_PASSWORD: ${{ secrets.GITHUB_TOKEN }}

    - name: Build the docker image with latest tag
      run: |
        echo "$DOCKER_PASSWORD" | docker login docker.pkg.github.com -u "$DOCKER_USERNAME" --password-stdin
        docker-compose -f docker-compose.yaml build
      if: github.ref == 'refs/heads/master'
      env:
        DOCKER_USERNAME: ${{ github.repository }}
        DOCKER_PASSWORD: ${{ secrets.GITHUB_TOKEN }}

    - name: branch Push Docker image to github package registry with latest tag
      run: |
        echo "$DOCKER_PASSWORD" | docker login docker.pkg.github.com -u "$DOCKER_USERNAME" --password-stdin
        docker-compose -f docker-compose.yaml push
      if: github.ref == 'refs/heads/master'
      env:
        DOCKER_USERNAME: ${{ github.repository }}
        DOCKER_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
    - name: Build the docker image with latest tag for dockerhub		
      run: |		
        echo "$DOCKERHUB_PASSWORD" | docker login --username "$DOCKERHUB_USERNAME" --password-stdin		
        docker-compose -f docker-compose-dockerhub.yaml build		
      if: github.ref == 'refs/heads/master'		
      env:		
        DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}		
        DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}		
    - name: branch Push Docker image to dockerhub registry with latest tag		
      run: |		
        echo "$DOCKERHUB_PASSWORD" | docker login --username "$DOCKERHUB_USERNAME" --password-stdin		
        docker-compose -f docker-compose-dockerhub.yaml push		
      if: github.ref == 'refs/heads/master'		
      env:		
        DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}		
        DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
